

<!--if today is Sun-Thurs display -->



<!--IF boss is not yet set, display a link to "Add your boss' information" -->

<!-- ELSE display a link that says 'need to change your boss' default info? -->

<!-- if there are no projects, display a link to show jQuery-hidden, ajaxified form to create new projects -->

<div class="form-container">
<p><b>Fill in the following fields to autogenerate an email about your plans for this week. </b></p>

<p><b>Once you hit send, the email will be sent to your boss. </b></p>

<%= form_for @email, url: {action: "create"}, html: {class: "email_form"} do |f| %>
	<p>Email Recipient: <%= f.text_field :addressee_email, :value => @user.coworkers.first.email, :id => 'boss-email', :onkeyup => "bossEmailKeyPress()", :onkeypress => "bossEmailKeyPress()" %></p>
  <p>Email Subject Line: <%= f.text_field :subject_line_beginning_week, :value => "Work plan for this week", :id => 'subject-line', :onkeyup => "subjectLineKeyPress()", :onkeypress => "subjectLineKeyPress()" %></p>
	<p>Recipient name: <%= f.text_field :addressee_name, :value => @user.coworkers.first.first_name, :id => 'boss-name', :onkeyup => "bossNameKeyPress()", :onkeypress => "bossNameKeyPress()" %></p>
  <p>Major Projects (separate by comma): <%= f.text_field :major_projects, :id => 'text'  %></p>
  <p>Open Projects (separate by comma): <%= f.text_field :open_projects, :id => 'text2'  %></p>
	
  <p>
  	<%= f.submit "Send email" %>
  </p>
<% end %>
</div>
    
    <h3>Email preview:</h3>

     <p>
          <span id="boss-email-output">(To: <%=@user.coworkers.first.email%>) </span>
    </p>

    <p>
          <span id="subject-line-output">(Subject line: Work plan for this week) </span>
    </p>

    <span id="boss-name-output">Hi <%=@user.coworkers.first.first_name%>, </span>
    
    <p>
    After reviewing my activities here is my plan for the week in order of priority. Let me know if you think I should re-prioritize:</p>

    <h4>Planned Major Activities for the week</h4>
      <ol>
          <div id="output"></div>
      </ol>

    <h4>Open items that I will look into, but won’t get finished this week</h4>
      <ol>
          <div id="output2"></div>
      </ol>
  
  <p>Let me know if you have any comments. Thank you!</p>
  <%=@user.name%>

<!--else display -->